# Pandas EDA Checkpoint

This checkpoint is designed to test your understanding of the content from the EDA with Pandas Cumulative Lab.

Specifically, this will cover:

* Using pandas to load data
* Using pandas to engineer a new feature of a dataset
* Using pandas methods and attributes to access information about a dataset


## Your Task: Explore Price per Square Foot and Neighborhoods using `pandas`

### Data Understanding

In this repository under the file path `ames_housing.csv` there is a CSV file containing the Ames Housing dataset. This is the same dataset you have worked with previously, but the file path may differ!

The features of interest for this analysis will be:

**SalePrice**: `Sale price of the house in dollars`

**GrLivArea:** `Above grade (ground) living area square feet`

**Neighborhood:** `Physical locations within Ames city limits`

### Requirements

#### 1. Import the Relevant Library

#### 2. Load the Data into a DataFrame Called `housing_data`

#### 3. Create a New Column `price_per_square_ft`

#### 4. Find the Mean Price per Square Foot

#### 5. Plot Price per Square Foot for Select Neighborhoods

#### 6. Find the Most Common Neighborhood

## 1. Import the Relevant Library

In the cell below, import the `pandas` library using the standard alias `pd`.

In [1]:
# CodeGrade step1
# Import pandas with the standard alias.
import pandas as pd

## 2. Load the Data into a DataFrame Called `housing_data`

The file path is `ames_housing.csv`. Use pandas ([documentation here](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)) to read in the data from this CSV file and create a dataframe named `housing_data`.

In [4]:
# CodeGrade step2
# Replace None with appropriate code

housing_data = df = pd.read_csv('ames_housing.csv')
housing_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## 3. Create a New Column `price_per_square_ft`

Create a new column of the dataframe that represents the price per square foot of the house.

Here you define price per square foot as the `SalePrice` divided by the `GrLivArea`.

The new column should be called `price_per_square_ft`.

In [7]:
# CodeGrade step3
# Put your code here!
df['price_per_square_ft'] = df['SalePrice'] / df['LotArea']

In [18]:
 print(housing_data) == pd.DataFrame

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolQC  Fence MiscFeature MiscVal MoSold  \
0            Lvl    AllPub  ...    NaN    NaN         NaN       0      2
1            Lvl    AllPub  ...    NaN    NaN         NaN       0      5
2            Lvl    AllPub  ...    NaN    NaN         NaN       0      9
3            Lvl    AllPub  ...    NaN    NaN         NaN       0      2
4            Lvl    AllPub  ...    NaN    NaN         NaN       0     12
...          ...       ...  ...    ...    ...         ...     ...    ...
1455         Lvl    AllPub  ...    NaN    NaN         NaN       0      8
1456         Lvl    AllPub  ...    NaN  MnPrv         NaN       0      2
1457         Lvl    AllPub  ...    NaN  GdPrv        Shed    2500      5
1458         Lvl    AllPub  ...    NaN    NaN         NaN       0      4
1459         Lvl    AllPub  ...    NaN    NaN         NaN       0      6

     YrSold SaleType  SaleCondition  SalePrice  price_per_square_ft
0      2008       WD         Normal     208500            24.674556
1      2007       WD         Normal     181500            18.906250
2      2008       WD         Normal     223500            19.866667
3      2006       WD        Abnorml     140000            14.659686
4      2008       WD         Normal     250000            17.531557
...     ...      ...            ...        ...                  ...
1455   2007       WD         Normal     175000            22.104332
1456   2010       WD         Normal     210000            15.939279
1457   2010       WD         Normal     266500            29.473568
1458   2010       WD         Normal     142125            14.626428
1459   2008       WD         Normal     147500            14.843514

[1460 rows x 82 columns]

False

## 4. Find the Mean Price per Square Foot

Assign the value of the mean price per square foot to the variable `mean_price_per_square_ft`.

In [17]:
# CodeGrade step4
# Replace None with appropriate code

mean_price_per_square_ft = df['price_per_square_ft'].mean()
print("Mean Price per Square Foot:", mean_price_per_square_ft)

Mean Price per Square Foot: 21.06987836020315

In [20]:
import numpy as np
# mean price per square foot should be a floating point number
mean_price_per_square_ft = df['price_per_square_ft'].mean()

assert isinstance(mean_price_per_square_ft, (float, np.float64))

## 5. Plot Price per Square Foot for Select Neighborhoods

The plotting code in the cell below is mostly completed for you. You are creating a bar graph showing the average price per square foot by neighborhood, for six specific neighborhoods in West Ames.

You will use `pd.DataFrame.plot.bar` ([documentation here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html)).

What is the name of the column (as a string) that you would put into the `x` and `y` parameters of this graph?

The plot this creates should look like this:

![neighborhood plot](https://curriculum-content.s3.amazonaws.com/data-science/images/neighborhood_plot.png)

(Don't worry too much about the subsetting and grouping that is happening here. `x` and `y` are column names that exist in the full `housing_data` dataframe as well as the `grouped_by_neighborhood` subset.)

In [ ]:
# CodeGrade step5
# Replace None with appropriate code

x = "Neighborhood"
y = "price_per_square_ft"

# Plotting code (do not edit)
subset = housing_data[housing_data["Neighborhood"].isin([
    "SawyerW", "Sawyer", "ClearCr", "CollgCr", "Edwards", "SWISU"
])]
grouped_by_neighborhood = subset.groupby("Neighborhood").mean(numeric_only=True).reset_index()
ax = grouped_by_neighborhood.plot.bar(x=x, y=y, rot=0, title="Prices per Square Foot in West Ames");

In [37]:
# x and y should be strings
assert type(Neighborhood) == str
assert type(price_per_square_ft) == str

# x and y should be names of columns
assert Neighbourhood in housing_data.columns
assert price_per_square_ft in housing_data.columns

NameError: name 'Neighborhood' is not defined

## 6. Find the Most Common Neighborhood

Using the `Neighborhood` column, find the name of the neighborhood that occurs most frequently in this dataset.

Assign `name` to the name of the neighborhood (a string) and `frequency` to the number of times that neighborhood appears (an integer).

If you're getting stuck, check out [this method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html). Your answer can be "hard-coded" (i.e. just typed in surrounded by `"`) or you can find it programmatically.

**Caution**: Because of the names of some of the neighborhoods in Ames, there is potential for confusion. Be aware that *North Ames* and *Northwest Ames* appear, shortened to "NAmes" and to "NWAmes", respectively.

In [29]:
# CodeGrade step6
# Replace None with appropriate code
housing_data = df = pd.read_csv('ames_housing.csv')
neighborhood_counts = housing_data['Neighborhood'].value_counts()
name = neighborhood_counts.idxmax()
frequency = neighborhood_counts.max()

In [30]:
# name should be a string
assert type(name) == str
# frequency should be an integer
assert type(frequency) == int or type(frequency) == np.int64

print("Most frequent neighborhood:", name)
print("Frequency:", frequency)

Most frequent neighborhood: NAmes
Frequency: 225